{% load static %}

<div class="container px-5 my-5">
    <div class="text-center mb-5">
        <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Our journey</span></h1>
    </div>
    <div class="row gx-5 justify-content-center">
        <div class="col-lg-11 col-xl-9 col-xxl-8">

            <!-- Expérience -->
            <section>
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h2 class="text-primary fw-bolder mb-0">Our Commitment</h2>
                    <a class="btn btn-primary px-4 py-3" href="">
                        <i class="bi bi-download me-2"></i>Download our vision
                    </a>
                </div>

                <!-- Carte d'expérience 1 -->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="text-primary fw-bolder mb-2">2021-Till date</div>
                                    <div class="small fw-bolder">Online and On-site</div>
                                    <div class="small text-muted">Client Support</div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div>
                                    We provide nutritional counseling, personalized follow-up with the aim to improve the quality of life for both clients who aim at maintaining their overall well-being and those currently suffering from non-communicable diseases.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Carte d'expérience 2 -->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="text-primary fw-bolder mb-2">2020 - 2021</div>
                                    <div class="small fw-bolder">Nutritionist</div>
                                    <div class="small text-muted">Bafoussam Regional Hospital</div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div>
                                    <div>we did consultation, gave nutrition education and therapy.</div>
                                    <div>Sensitized individuals on the impact of food practices to their health.</div>
                                    <div>We equally collaborated with other healthcare professionals and adjusted our solution to best meet the needs of our clients.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Carte d'expérience 3 -->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="text-primary fw-bolder mb-2">2019 - 2020</div>
                                    <div class="small fw-bolder">Nutrition Analyst</div>
                                    <div class="small text-muted">Nkongni Sub-district Medical Center</div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div>Identification of the main nutrition problems and their determinants in the health areas of the district.</div>
                                <div>Evaluation of dietary diversity and the state of food security in households.</div>
                                <div>Identify and control current nutritional interventions.</div>
                                <div class="small fw-bolder">All these activities were carried out with the aim of promoting healthy eating habits that impact nutritional status and health outcomes.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Éducation -->
            <section>
                <h2 class="text-secondary fw-bolder mb-4">Training & Knowledge</h2>

                <!-- Carte 1 -->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="text-secondary fw-bolder mb-2">2018 - 2020</div>
                                    <div class="mb-2">
                                        <div class="small fw-bolder">University of Dschang</div>
                                        <div class="small text-muted">Cameroon</div>
                                    </div>
                                    <div class="fst-italic">
                                        <div class="small text-muted">License</div>
                                        <div class="small text-muted">Nutrition and Dietetics</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div>
                                    Study of nutritional needs, monitoring of patients and carried out nutrition interventions, ensuring the management of chronic diseases of deficiencies linked to nutrition.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Carte 2 -->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="text-secondary fw-bolder mb-2">2013</div>
                                    <div class="mb-2">
                                        <div class="small fw-bolder">Lab technician</div>
                                    </div>
                                    <div class="fst-italic">
                                        <div class="small text-muted">Dschang District Hospital</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div>
                                    Collection of samples from patients.
                                </div>
                                <div>
                                    Analysis of samples,  reporting and documenting results.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Compétences -->
            <section>
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">

                        <!-- Compétences professionnelles -->
                        <div class="mb-5">
                            <div class="d-flex align-items-center mb-4">
                                <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3">
                                    <i class="bi bi-heart-pulse"></i>
                                </div>
                                <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Key Competencies</span></h3>
                            </div>
                            <div class="row row-cols-1 row-cols-md-3 mb-4">
                                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Patient Data Collection </div>
                                <div>Blood Sugar Monitoring, BP Monitoring</div>
                                <div>Evaluating Nutritional Status (SAM and MAM)</div>
                            </div>
                                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Blood sugar monitoring</div></div>
                                <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Creation of custom menus</div></div>
                            </div>
                            <div class="row row-cols-1 row-cols-md-3">
                                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Digital health tools</div></div>
                                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Compassionate communication</div></div>
                                <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Patient data collection</div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>
</div>